header{
  background-color: #f8f9fa;
  width: 100%;
  display: flex;
  height: calc(100vh - 80px);
}
.fondo{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.contenido{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
  justify-content: center;
  height: calc(100% - 80px);
}
.logo{
  width: 150px;
}
.banner-con-flecha{
  box-sizing: border-box;
  
}

.walnesy{
  display: flex;
  width: 50%;
  height: calc( 100% - 80px);
  position: absolute;
  align-items: end;
  justify-content: end;
  right: 0;
  img{
    width: 100%;
    object-fit: contain; 
    height: 100%;
  }
}