header{
  width: 100%;
  height: auto;
  position: relative;
}

img{
  width: 100%;
  height: auto;
  display: flex;
  object-fit: contain;
}
a{
  font-family: "Molde";
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  text-decoration: none;
  color: #fff;
  height: 60px;
  font-size: 35px;
  line-height: 28px;
  border-radius: 25px;
  background-color: #14A14C;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: auto;
}
