header{
  width: 100%;
  height: auto;
  position: relative;
}

img{
  width: 100%;
  height: auto;
  display: flex;
  object-fit: contain;
}
a{
  font-family: "Bluefish";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  color: #fff;
  height: 50px;
  font-size: 24px;
  line-height: 28px;
  border-radius: 25px;
  background-color: #14A14C;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
