header{
  width: 100%;
  height: auto;
  position: relative;
}

img{
  width: 100%;
  height: auto;
  min-height: 489px;
  display: flex;
  object-fit: cover;
}
a{
  font-family: "Molde";
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  text-decoration: none;
  color: #fff;
  height: 60px;
  font-size: 35px;
  line-height: 28px;
  border-radius: 25px;
  background-color: #14A14C;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (width < 800px) {

  img{
    min-height: 250px;
  }
  a{
    width: 100px;
    font-size: 15px;
    height: 40px;
    bottom: 5%;
  }
  

  
}