

h1{
  font-family: "Molde", sans-serif;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  line-height: 72px;
  text-align: center;
}
p{
  margin: 0;
}
main{
  display: flex;
  gap: 20px;
  margin: 0 20px;
  justify-content: center;
}

img{
  width: 50%;
  object-fit: contain;
  object-position: bottom;
}
.empresario{
  background-image: url("/conoceme/1fondo.jpg");
  background-position: left;
}
.politico{
  background-image: url("/conoceme/2fondo.jpg");
}
.empresario, .politico{
  display: flex;
  width: 640px;
  height: 350px;
}
.alcanza, .logo{
  width: 100%;
  object-position: center;
}

.empresario{
  border: 5px solid #15914B;
}
.info{
  box-sizing: border-box;
  padding: 10px;
}
.info img{
  height: 80%;
}
.info p{
  height: 20%;
  font-family: 'Molde';
  color: #01321D;
  font-size: 50px;
}
.info .empresario-p{
  color: #13a14b;
}
.politico{
  border: 5px solid #01321D;
}
p{
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
}
a{
  text-decoration: none;
  position: relative;
}
@media (width < 1062px) {
  .empresario, .politico{
    height: auto;
  }

  main{
    flex-wrap: wrap;
  }
  .info p{
    font-size: 25px;
    width: 50%;
  }
}