header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 100%;
  min-height: 45vh;
  flex-direction: column;
  gap: 40px;
  color: #fff;
  background-color: #14A14C;
}

a{
  font-family:'Molde', 'Trebuchet MS', sans-serif;
  display: flex;
  font-style: italic;
  align-items: center;
  justify-content: center;
  width: 55%;
  min-width: 700px;
  text-decoration: none;
  color: #fff;
  height: 100px;
  padding: 0 25px;
  margin-bottom: 25px;
  font-size: 80px;
  background-color: #01321D;
  border-radius: 50px;
}

h1,p{
  margin: 0 25px;
  padding: 0;

}
p{
  text-align: center;
}
main{
  width: 40%;
}

h1{
  font-family:'Molde', 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 80px;
}

@media (width < 800px) {

  header{
    font-size: 25px;
    box-sizing: border-box;
    padding: 0px;
  }
  h1{
    font-size: 45px;
  }
  p{
    text-align: center;
  }
  a{
    font-size: 20px;
    min-width: 200px;
    height: 50px;
  }
  
}