.relleno{
  width: 100%;
  height: 80px;
  background-color: #01321D;
}

header{
  position: fixed;
  z-index: 100;
  top: 0;
}

img{
  width: 60%;
  max-width: 40px;
}

nav{
  background-color: #01321D;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 50;
  top: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.icons{
  display: flex;
}
a,.burguer{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.icons li{
  flex: 1;
}
  main{
    position: absolute;
    height: 100vh;
    width: 300px;
    z-index: 100;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform 1s ease; 
  }
  main.open {
    transform: translateX(0);
  }
  main{
    position: absolute;
    height: 100vh;
    top: 0;
    transform: translateX(-100%);
    transition: transform 1s ease; 
  }
  main.open {
    transform: translateX(0);
  }


  .navegacion{
    width: 300px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
  }
  .navegacion .lista a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #13A14B;
  }
  .navegacion li{
    display: flex;
    margin: 20px 0;
  }
  .navegacion li:first-child{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    margin-top: 0;
  }
  .navegacion button img{
    width: 150px;
    height: auto;
  }
  .navegacion a{
    display: flex;
    justify-content: start;
  }
  .noticias-p{
    width: auto;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #13A14B;
  }
  .separador{
    width: 100%;
    height: 2px;
    background-color: #13A14B;
  }
@media (width > 800px) {

  nav{
    display: none;
  }
  .relleno{
    display: none;
  }
  header{
    display: none;
  }

}