
h1{
  font-family: "Molde";
  color:#1E3524;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  line-height: 72px;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
a{
  text-decoration: none;
}
article{
  width: 310px;
}
img{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 310px;
  height: 280px;
}
.fecha{
  color: #6C757D;
}
.title{
  font-size: 18px;
  font-weight: 700;
  color: #495057;
}
.description{
  font-size: 14px;
  font-weight: 400;
  color: #6C757D;
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: repeat(2, 310px); /* 2 columnas */
  }
}

/* Cuando la pantalla es menor a 600px, cambia a 1 columna */
@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr; /* 1 columna */
    grid-template-rows: auto; /* Filas automáticas */
    margin: 25px;
  }
  article {
    width: 100%; /* Ajusta el ancho del artículo al contenedor */
  }
  img {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
  }
}