main{
  width: 1300px;
  left: 0;
  right: 0;
  margin: auto;
  gap: 20px;
}
.conteiner{
  box-sizing: border-box;
  padding: 20px;
}
img{
  width: 100%;
}

h1{
  font-family: "Molde";
  color:#1E3524;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  line-height: 72px;
  text-align: center;
}
